
/* Your CSS Code here. */
#button-1{
	background-color: blue;
	
}
#button-2{
	background-color:white;
}

#button-4{
	background-color:red;
}
#button-5{
	background-color:yellow;
}
#button-6{
	background-color:lightblue;
}
#button-7{
	background-color:white;
}
#button-3{
	background-color:green;
}